body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;  /* should be in the normalize.css but is not */
}
img {
    max-width: 100%; /* max-width i think pertains to the image size itself while width is the browser's size */
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}