.primary-nav {
    padding-top: 10px;;
    
    @mixin atMedium {
        padding-top: 0;
    }
    
    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }
    
    ul {
        @mixin clearfix;
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
        /* display: inline; 
            if you put li as display inline, you 
            cant put any padding on its a elements,
            but li float and a block combi is 
            possible so use it instead
        */
        display: inline-block;
        /* this replace the float left for large screen,
            and it will allow them to be horizontally 
            centered (since parent div is centered) 
        */
        padding-right: 7px;
        
        @mixin atMedium {
            display: block;
            /* to reset display: inline-block; for mobile */
            float: left;
            /* once you use float here, add clear fix
                on its parent (ul), so that it will
                still have a place. in reality, each li
                will occupy its original usurped place
            */
            padding-right: 20px;
        }
    }
    
    li:last-child {
        padding-right: 0;
        
        @mixin atMedium {
            padding-right: 20px;
        }
    }
    
    a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        display: block;
        padding: 5px 8px;
        font-size: 0.8rem;
        background-color: rgba($mainBlue, 0.5);
        
        @mixin atMedium {
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;
            
            &.is-current-link {
                /* .primary-nav a.is-current-link { */
                color: #fabb69;
            }
        }
    }
}