.site-footer {
    text-align: center;
    background-color: $mainBlue;
    color: #fff;
    padding: .5rem 0;
    
    &__text {
        font-weight: 100;
        display: block;
        margin-bottom: 1rem;
        
        @mixin atMedium {
            display: inline;
            margin-right: 1.4rem;
            margin-bottom: 0;
        }
    }
}