.site-header {
    position: absolute;
    z-index: 2;
    /* if z-index is not greater than the default z-index 
        of its same-level next div element, this div will
        be hidden from view bec the next div will take over
        the occupied space once main div is positioned
        absolute. need to have greater priority in order
        to be on top and will be seen.
    */
    width: 100%;
    /* if position is absolute, this div will shrink to its
        smallest container as possible. you have to explicitly
        define to make it occupy the 100% width of the container
    */
    padding: 10px 0;
    
    @mixin atMedium {
        background-color: rgba($mainBlue, .3); /* bbm where is the bg color for small?? */
    }
    
    &__logo {
        position: absolute;    
        top: 0;
        background-color: $mainBlue;
        padding: 25px 36px;
        /* since the positioning is absolute, make use of
            transform property to position the mobile logo and
            return to the original position for big screen
        */
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        transform-origin: 50% 0; /* or top */        
        
        @mixin atMedium {
            left: auto; 
            /* if you use 0 here, it will ignore any margin of the wrapper */
            transform: translateX(0);
        }
    }
    
    &__logo__graphic {
        text-indent: -9999px;
    }
    
    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        /* set this to absolute, to make it as if not part of
            the whole header then pos to top rightmost corner
        */
        top: 10px;
        right: 10px;
        
        @mixin atMedium {
            display: none;
        }
    }
    
    &__menu-content {
        /* float: right; note: nothing to float since its 2 elements floated by themselves */
        /* its only use now is to hide unhide the menu content with js */
        display: none;
        
        @mixin atMedium {
            display: block;
        }
    }
    
    &__btn_container {
        float: right;
    }
}